# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# SSH Keys
*.pem
*.pub

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI config files
.terraformrc
terraform.rc

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
tfplan
